# Environment variables
.env

# Compiled binary
# Если вы компилируете бинарник с определенным именем, добавьте его сюда
# Например:
# app_binary_name
# *.exe

# IDE and editor files
.idea/
.vscode/
*.swp
*~